@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}
@*@section breadcrumb {
    <li><a href="#">產品清單</a></li>
}*@

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @if (!string.IsNullOrEmpty(Convert.ToString(TempData["updateSucess"])))
    {
        <h3>@TempData["updateSucess"]</h3>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (ViewBag.SelectedProductId != null && ViewBag.SelectedProductId == item.ProductId)
        {
            ViewBag.SelectedProductItem = item;
        }
        <tr @if (ViewBag.SelectedProductId != null && ViewBag.SelectedProductId == item.ProductId) {
                @Html.Raw("style='background-color: lightyellow;'")
            }>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }) |
                @Html.ActionLink("OrderLine", "Index", new { type = "OrderLines", ProductId = item.ProductId })
            </td>
        </tr>
    }
</table>
<hr />
@if (ViewBag.SelectedProductId != null)
{
    if (ViewBag.type == "Details")
    {
        @Html.Partial("Details", ViewData["SelectedProductItem"])
    }
    else
    {
        @Html.Action("Index", "OrderLines", new { ProductId = ViewBag.SelectedProductId })
    }
}



